### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
purchase_data_Unique = purchase_data['SN'].unique()
TotalPlayers =len(purchase_data_Unique)
df_PlayerCount = pd.DataFrame({"Total Players":[TotalPlayers]})
df_PlayerCount

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Items_Unique = len(purchase_data['Item ID'].unique())
Avg_Price = purchase_data['Price'].mean()
Purchase_Count = purchase_data['Purchase ID'].count()
Total_Revenue =purchase_data['Price'].sum()
Purchasing_Analysis = {"Number of Unique Items":[Items_Unique],\
                      "Average Price":[Avg_Price],\
                      "Number of Purchases": [Purchase_Count],\
                      "Total Revenue":[Total_Revenue]}
df_Purchasing_Analysis =pd.DataFrame(Purchasing_Analysis)
df_Purchasing_Analysis['Average Price']=df_Purchasing_Analysis['Average Price'].map("${:.2f}".format)
df_Purchasing_Analysis['Total Revenue']=df_Purchasing_Analysis['Total Revenue'].map("${:,}".format)
df_Purchasing_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
Gender_df =purchase_data.loc[:,['SN','Gender']].drop_duplicates()
Total = Gender_df['Gender']
value = pd.DataFrame(Total.value_counts())
Tot = Total.count()
value["Percentage of Players"] =round((value*100/Tot),2)
value.rename(columns = {'Gender': "Total Count"})

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
Male = purchase_data.loc[(purchase_data['Gender']=='Male'),:]
Female = purchase_data.loc[(purchase_data['Gender']=='Female'),:]
Other = purchase_data.loc[(purchase_data['Gender']=='Other / Non-Disclosed'),:]
Purchase_Count = pd.DataFrame(purchase_data['Gender'].value_counts())
Purchase_Count["Average Purchase Price"]=[Male['Price'].mean(),Female['Price'].mean(),Other['Price'].mean()]
Purchase_Count["Total Purchase Value"]=[Male['Price'].sum(),Female['Price'].sum(),Other['Price'].sum()]
Purchase_Count["Avg Total Purchase per Person"]=Purchase_Count["Total Purchase Value"]/value["Gender"]
Purchase_Count["Average Purchase Price"]=Purchase_Count["Average Purchase Price"].map("${:.2f}".format)
Purchase_Count["Total Purchase Value"]=Purchase_Count["Total Purchase Value"].map("${:.2f}".format)
Purchase_Count["Avg Total Purchase per Person"]=Purchase_Count["Avg Total Purchase per Person"].map("${:.2f}".format)
Purchase_Count.index.name = 'Gender'
Purchase_Count.sort_index()
Purchase_Count.rename(columns = {'Gender': "Purchase Count"})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [98]:
bins = [0,9, 14, 19, 24, 29, 34,39,45]
labels = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
purchase_data["Purchase Count"] = pd.cut(purchase_data["Age"], bins, labels = labels)
Age_Demographics = pd.DataFrame(purchase_data["Purchase Count"].value_counts())
Total_Count=[]
Total_SNforAge = len(purchase_data['SN'].unique())
Percentage_of_Players=[]
for label in labels:
    Age_Demographicsdf = purchase_data.loc[purchase_data["Purchase Count"] == label,['SN','Age']]
    Total_Count.append(len(Age_Demographicsdf['SN'].unique()))
    Percentage_of_Players.append(len(Age_Demographicsdf['SN'].unique())*100/Total_SNforAge)
Age_Demograph_Table = pd.DataFrame({"Total Count":Total_Count,\
                                   "Percentage of Players":Percentage_of_Players}, index=labels)
Age_Demograph_Table["Percentage of Players"]=Age_Demograph_Table["Percentage of Players"].map("{:.2f}".format)
Age_Demograph_Table

       Total Count Percentage of Players
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [85]:
Purchase_Count=[]
AvgPurchase_Price=[]
Total_Purchase_Value=[]
AvgTotalPurchase_per_Person=[]
labels = ["10-14", "15-19","20-24","25-29","30-34","35-39","40+","<10"]
for label in labels:
    Age_Demographicsdf = purchase_data.loc[purchase_data["Purchase Count"] == label,:]
    Purchase_Count.append(len(Age_Demographicsdf['Item ID']))
    AvgPurchase_Price.append(Age_Demographicsdf['Price'].sum()/len(Age_Demographicsdf['Item ID']))
    Total_Purchase_Value.append(Age_Demographicsdf['Price'].sum())
    AvgTotalPurchase_per_Person.append(Age_Demographicsdf['Price'].sum()/len(Age_Demographicsdf['SN'].unique()))
Purchasing_Analysis = pd.DataFrame({"Purchase Count":Purchase_Count,\
                                   "Average Purchase Price":AvgPurchase_Price,\
                                   "Total Purchase Value":Total_Purchase_Value,\
                                   "Avg Total Purchase per Person":AvgTotalPurchase_per_Person},index =["10-14", "15-19","20-24","25-29","30-34","35-39","40+","<10"])
Purchasing_Analysis["Average Purchase Price"]=Purchasing_Analysis["Average Purchase Price"].map("${:.2f}".format)
Purchasing_Analysis["Total Purchase Value"]=Purchasing_Analysis["Total Purchase Value"].map("${:.2f}".format)
Purchasing_Analysis["Avg Total Purchase per Person"]=Purchasing_Analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [101]:
Top_Spenders=purchase_data["SN"].unique()
Spenders_Count=[]
Spenders_AvgPurchase=[]
Spenders_Total_Purchase=[]
for SN in (purchase_data["SN"].unique()):
    Top_Spenders = purchase_data.loc[purchase_data["SN"] == SN,:]
    Spenders_Count.append(len(Top_Spenders['SN']))
    Spenders_AvgPurchase.append(Top_Spenders['Price'].sum()/len(Top_Spenders['SN']))
    Spenders_Total_Purchase.append(Top_Spenders['Price'].sum())
Top_Spenders_df =pd.DataFrame({"Purchase Count":Spenders_Count,\
                              "Average Purchase Price":Spenders_AvgPurchase,\
                              "Total Purchase Value":Spenders_Total_Purchase},index=purchase_data["SN"].unique())  
Top_df = Top_Spenders_df.sort_values("Total Purchase Value", ascending = False)
Top_df["Average Purchase Price"]=Top_df["Average Purchase Price"].map("${:.2f}".format)
Top_df["Total Purchase Value"]=Top_df["Total Purchase Value"].map("${:.2f}".format)
Top_df.index.name = 'SN'
Top_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame